body {
  background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);

}

a {
  color: #f76b8a;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}